<!DOCTYPE html>

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width , initial-scale =1.0"/>
  </head>
  <body>
    <div id="slider" class="slider-big">
      <h1>GESTIÓN DE PRODUCTOS </h1>
    </div>
    <div id="center">
      <section id="content">
        <div id="article">
          <h1>Ultimos productos</h1>
        <article class="article-item" id="article-template">
          <div class="image-wrap">
          </div>
          <h2>Producto de prueba</h2>
          <span class="date"> Hace 5 min | </span>
          <a href="#">Leer mas </a>
        </article>
        <article class="article-item" id="article-template">
          <h2>Producto de prueba</h2>
          <span class="date"> Hace 5 min | </span>
          <a href="#">Leer mas </a>
        </article>
        <article class="article-item" id="article-template">
          <h2>Producto de prueba</h2>
          <span class="date"> Hace 5 min | </span>
          <a href="#">Leer mas </a>
        </article>
      </div>
      </section>
      <aside id="sidebar">
        <div id="nav-blog" class="sidebar-item">
          <h3>Puedes hacer esto</h3>
          <a href="#" class="btn btn-access">Crear Articulo</a>
        </div>

        <div id="search" class="sidebar-item">
          <h3>Buscador</h3>
          <p>Encuentra el articulo que buscas</p>
          <form>
            <input type="text" name="search" />
            <input class="btn" type="submit" name="submit" value="Buscar" />
          </form>
        </div>
      </aside>
    </div>
    <div class="clearfix"></div>
    <footer id="footer">
      <div class="center">
        <p>&copy; Bienvenido a mi pagina wen andres developer</p>
      </div>
    </footer>
  </body>
</html>

